@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/skv0qdq.css");
@import url("https://fonts.googleapis.com/css?family=Heebo:300,900");
@import url("../public/MyFontsWebfontsKit.css");

$crimson: #942000;
$peach: #F7BFB2;
$orange: #e05028;
$green: #009468;
$teal: #41e0b1;

$headshot-width: 330px;

html,
body {
  background-color: $peach;
  padding: 0;
  margin: 0;
  font-family: Heebo, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  color: $crimson;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.header-container {
  min-width: 300px;
  
  @media only screen and (max-width: 1023px) {
    min-height: 7rem;
	}
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  background-image: url("../public/images/corner_right.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: right top;

  @media only screen and (max-width: 1023px) {
    width: 100%;
    background-color: $peach;
    a {
      color: white;
      text-decoration: none;
    }
	}
}

.shadow-title {
  text-shadow: 3px 3px black;
}

.shadow-body {
  text-shadow: 2px 2px white;
}

.body-title {
  font-size: 1.8rem;
  line-height: 2rem;
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  color: $crimson;
  text-shadow: 2px 2px white;
  margin-bottom: 1.2rem;
  text-transform: lowercase;
}

.phosphate-pro-solid {
  font-family: PhosphatePro-Solid;
}

.myriad-pro-bold {
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.myriad-pro-condensed {
  font-family: myriad-pro-condensed, sans-serif; 
  font-weight: 700; 
  font-style: normal; 
}

.text-crimson-c {
  color: $crimson;
}

.fill-crimson {
  filter: invert(17%) sepia(33%) saturate(5948%) hue-rotate(2deg) brightness(95%) contrast(102%);
}

.fill-white {
  filter: invert(100%) sepia(4%) saturate(1747%) hue-rotate(254deg) brightness(116%) contrast(100%);
}

.menu {
  display: flex;

  @media only screen and (max-width: 495px) {
    display: none;
	}
}

.menu-button {
  display: none;

  @media only screen and (max-width: 495px) {
    display: flex;
	}
}

.headshot-container {
  min-width: $headshot-width;

  @media only screen and (max-width: 1023px) {
    min-width: 0;
	}
}

.headshot-image {
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-image: url("../public/images/me_baby.jpg"), linear-gradient(#d0d3cc, white);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  width: $headshot-width;
  background-size: 380%;

  @media only screen and (max-width: 1023px) {
    display: none;
  }

  @media only screen and (min-height: 750px) {
    background-size: 450%;
  }

  @media only screen and (min-height: 900px) {
    background-size: 550%;
  }
  
  @media only screen and (min-height: 1100px) {
    background-size: 630%;
  }
}

.aboutme-image {
  display: none;

  @media only screen and (max-width: 1023px) {
    display: inline;
	}
}