@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../public/MyFontsWebfontsKit.css");

$crimson: #942000;
$peach: #F7BFB2; // let's use #F4C7CB for visual assets from now on (keeping it this value to vibe with the current video reel)
$orange: #e05028;
$teal: #41e0b1;
$green: #009468;

$headshot-width: 330px;
$small-width-breakpoint: 670px;

html,
body {
  background-color: $peach;
  padding: 0;
  margin: 0;
  font-family: Heebo, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 18px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  color: $crimson;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.header-container {
  min-width: 300px;
  
  @media only screen and (max-width: 1024px) {
    min-height: 7rem;
	}
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  background-image: url("../public/images/corner_right.svg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: right top;

  @media only screen and (max-width: 1024px) {
    width: 100%;
    background-color: $peach;
    a {
      color: white;
      text-decoration: none;
    }
	}
}

.shadow-title {
  text-shadow: 3px 3px black;
}

.shadow-body {
  text-shadow: 2px 2px white;
}

.body-title {
  font-size: 1.8rem;
  line-height: 2rem;
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  color: $crimson;
  text-shadow: 2px 2px white;
  margin-bottom: 1.8rem;
  text-transform: lowercase;
}

.phosphate-pro-solid {
  font-family: PhosphatePro-Solid;
}

.myriad-pro-bold {
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.myriad-pro-condensed {
  font-family: myriad-pro-condensed, sans-serif; 
  font-weight: 700; 
  font-style: normal; 
}

.text-crimson-c {
  color: $crimson;
}

.fill-crimson {
  filter: invert(17%) sepia(33%) saturate(5948%) hue-rotate(2deg) brightness(95%) contrast(102%);
}

.fill-white {
  filter: invert(100%) sepia(4%) saturate(1747%) hue-rotate(254deg) brightness(116%) contrast(100%);
}

tr {
  border-bottom: 1px solid $crimson;
}


.menu {
  display: flex;

  @media only screen and (max-width: $small-width-breakpoint) {
    width: 0px;
    opacity: 0;
    height: 0;
	}
}

.menu-list {
  min-height: 0;
  transition: all 0.7s ease-in-out, height 0.2s ease-in-out;

  @media only screen and (max-width: $small-width-breakpoint) {
    text-align: end;
    min-height: 100px;
	}
}

.menu-dropdown {
  background-color: $crimson;
  position: absolute;
  top: 130px;
  right: 0;
}

.menu-button {
  display: none;
  transition: all 0.7s ease-in-out;

  @media only screen and (max-width: $small-width-breakpoint) {
    display: flex;
	}
}

.headshot-container {
  min-width: $headshot-width;

  @media only screen and (max-width: 1024px) {
    min-width: 0;
	}
}

.headshot-image {
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-image: url("../public/images/Gomez_Kevin-023-edit.jpg");
  background-position: 27% 0%;
  background-repeat: no-repeat;
  width: $headshot-width;
  background-size: 135%;

  @media only screen and (max-width: 1024px) {
    display: none;
  }

  @media only screen and (min-height: 600px) {
    background-size: 165%;
  }

  @media only screen and (min-height: 750px) {
    background-size: 190%;
  }

  @media only screen and (min-height: 900px) {
    background-size: 220%;
  }

  @media only screen and (min-height: 1000px) {
    background-size: 245%;
  }
  
  @media only screen and (min-height: 1100px) {
    background-size: 298%;
  }

  @media only screen and (min-height: 1400px) {
    background-size: 330%;
    background-position: 50% 100%;
  }
}

.aboutme-image {
  display: none;

  @media only screen and (max-width: 1024px) {
    display: inline;
	}
}

.agent {
  filter: brightness(65%);
}